#price-container {
  padding: 3rem;
}

.price-headline {
  font-size: 4em;
}

.last-updated-info {
  font-size: 0.75em;
  color: #808080;
}

a.link {
  text-decoration: none;
}

span.peach {
  top: 1px;
  position: relative;
}
