#price-container {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.price-headline {
  font-size: 4em;
}

p.last-updated-info {
  margin-top: -0.5em;
}

a.link {
  text-decoration: none;
  color: none;
}

span.peach {
  top: 1px;
  position: relative;
}
